
dist
.solid
.output
.vercel
.netlify
TODO.md

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
.zed/
.vscode/
.cursor/
.gemini

# System Files
.DS_Store
Thumbs.db

# future
src/game/shaders
src/game/boosts
